<!DOCTYPE HTML>
<html class="fully">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>中国童书博览会来啦! 5.28-6.1北京中国儿童中心等你来!</title>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/base.css">
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/kidbook.css">
<script src="{{STATIC_URL}}js/cfg.js"></script>
<script src="{{STATIC_URL}}js/zepto.min.js"></script>
</head>
<body class="fully">
<div class="container fully first" id="container">
	<a href="who.html" class="first-top">
		<div class="first-inner center">
			<p>中国童书博览会</p>
			<div class="first-ccbe"></div>
			<p>Who am I?</p>
			<!-- <p>童书博览会精彩亮相</p> -->
		</div>
	</a>
	<a href="/image/gather" class="first-block one"></a>
	<a href="/vote/all" class="first-block two"></a>
        <!--<a href="/activity/launch" class="first-block three"></a>-->
        
	<a href="todo.html" class="first-block three"></a>
	<a href="coop.html" class="first-block four"></a>
</div>
</body>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script src="{{STATIC_URL}}js/wx-share.js"></script>
<script>new WXShare();</script>
</html>
