<!DOCTYPE HTML>
<html class="fully">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>企业信息</title>
<link rel="stylesheet" type="text/css" href="{STATIC_URL}/css/yanqi.css">
<script src="{STATIC_URL}/js/cfg.js"></script>
<script src="http://libs.baidu.com/zepto/0.8/zepto.min.js"></script>
</head>
<body class="fully">
<div class="container fully" id="container">
	<div class="top">
		<div class="menu-btn" id="menu-btn"></div>
		<span>企业信息</span>
		<a class="top-home" href="homing.html"></a>
	</div>
	<div class="content yscroll">
		<div class="intro-pic">
			<img src="{STATIC_URL}/img/2.jpg">
		</div>
		<div class="intro-txt">
		<p style="font-size:22px" >后APEC时代，北京雁栖湖国际会展中心打造一流会展场馆</p>
 <p>  </p>
<p>2014年第七届中国会议产业大会，于12月3日在国家会议中心盛大召开，这次大会又一次将会议产业行业精英汇聚一堂，业内人士相互交流，加强研究者与实践者之间的沟通，促进中国会议产业的进步与发展，加速中国会议产业与国际的接轨，业界朋友各显风采。北京雁栖湖国际会展中心作为怀柔生态发展示范区体现汉唐文化建筑、绿色环保场馆亮点项目，在开业筹备阶段参加了大会，北京雁栖湖国际会展中心以独具特色的建筑主体形象展台亮相，作为国际一流的会展综合展馆倍受与会者的关注和青睐。</p>
 
<p>12月3日下午，北京雁栖湖国际会展中心在国家会议中心大宴会厅成功的召开了推介会，推介会得到了国家会议中心总经理刘海莹、怀柔区商务委员会副主任赵伟等相关领导的关注和到会支持。推介会由北京雁栖湖国际会展中心副总经理索灵浇图文并茂的做了丰富生动，详尽的介绍。</p>
<p>北京雁栖湖国际会展中心隶属北京控股集团，由成功接待了APCE会议的国际顶尖的会展场馆国家会议中心运营管理，位于举办2014年APCE会议的北京雁栖湖生态发展示范区。示范区空气质量居北京第一，绿化率、降雨量都排首位，实属得天独厚的稀缺养生环境，位于北京市区东北部，地处怀柔区雁栖镇。为强化首都的国际交往功能，疏解首都交通压力，调整城市功能布局，提升北京世界城市高端服务水平，打造承接G20等国际高端会议、论坛的平台，2010年，北京市委、市政府决定由北控集团、北控置业承建“北京雁栖湖国际会都”这个重点的政府项目。 </p>
<p>位于雁栖湖生态发展示范区的北京雁栖湖国际会展中心以独特的建筑外形瞬间成为京北乃至全国会展场馆中的一颗闪亮的新星，引人瞩目,成为后APEC时代，理想会议聚集之地。中心坐落“青山碧水”之内，畅享“天然氧吧”之中，主体建筑遵循“汉唐升华、天地飞扬”的设计理念，若天坛祈年殿倒影。除了风光与文化完美融合的周边环境优势，北京雁栖湖国际会展中心在软硬条件属于国际一流：建筑面积79000平方米，是集会议、展览、餐饮、酒店、综合配套服务于一体的综合型会展场馆。</p>

		</div>
	</div>
</div>
<script src="{STATIC_URL}/js/menu.js"></script>
<script>new Menu();</script>
</body>
</html>
