<!DOCTYPE HTML>
<html class="fully">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>行业新闻</title>
<link rel="stylesheet" type="text/css" href="{STATIC_URL}/css/yanqi.css">
<script src="{STATIC_URL}/js/cfg.js"></script>
<script src="http://libs.baidu.com/zepto/0.8/zepto.min.js"></script>
</head>
<body class="fully">
<div class="container fully" id="container">
	<div class="top">
		<div class="menu-btn" id="menu-btn"></div>
		<span>行业新闻</span>
		<a class="top-home" href="homing.html"></a>
	</div>
	<div class="content yscroll">
		<div class="intro-pic">
			<img src="{STATIC_URL}/img/2.jpg">
		</div>
		<div class="intro-txt">
		<p style="font-size:22px" >励展布局再提速</p>
		<p style="font-size:22px" align="center">或开启中国“上海会展年”</p>
		<p> </p>
		<p align="center">来源：中国贸易报 2015-01-27 作者：佚名</p>


		</div>
	</div>
</div>
<script src="{STATIC_URL}/js/menu.js"></script>
<script>new Menu();</script>
</body>
</html>
