<!DOCTYPE HTML>
<html class="fully">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>{{company}}参展中国童书博览会，要给你好看——5.28—6.1约么？</title>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/base.css">
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/kidbook.css">
<script src="{{STATIC_URL}}js/cfg.js"></script>
<script src="{{STATIC_URL}}js/zepto.min.js"></script>
</head>
<body>
<div class="container share" id="container">
	<div class="share-top scope">
		<div class="share-icon"></div>
	</div>
	<p class="share-title">{{company}} 已预约中国童书博览会，</p>
	<p class="share-title">给你最好看！</p>
	<p class="share-intro">{{intro}}</p>
	<div class="share-map">
		<img src="{{STATIC_URL}}img/map.jpg">
	</div>	
	<p class="share-title">据说这里是最好的童书博览会</p>
	<p class="share-title">等你来呦～</p>
	<p class="share-tip">长按二维码或查看公众号“中国童书博览会”</p>
	<p class="share-small">好书好活动好多优惠券</p>
	<div class="share-qrcode">
		<img src="{{STATIC_URL}}img/qrcode.jpg">
	</div>
	<div class="btm scope">
		<p>2015中国童书博览会</p>
		<p class="small">有你更精彩</p>
	</div>
</div>
</body>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script src="{{STATIC_URL}}js/wx-share.js"></script>
<script>new WXShare();</script>
</html>
